<header>
  <nav>
    <a [routerLink]="['']">Home</a>
    <a *ngIf="!auth.isLoggedIn()" (click)="logIn()">Login</a>
    <span *ngIf="auth.isLoggedIn()">
      <a [routerLink]="['dashboard']">Dashboard</a>
      <a (click)="logOut()">Log out</a>
    </span>
  </nav>
</header>
<main>
  <h1>SUPER AWESOME APPLICATION</h1>

  <!-- Images (and assets) are parsed and loaded from within the public directory -->
  <!-- <img src="/img/angular.png"> -->

  <router-outlet></router-outlet>
</main>
<footer>
  <!-- <a [href]="url">Webpack Angular 2 Starter</a> -->
</footer>
